.main {
  display: flex;
  /* background-color: blue; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}
.heading {
  color: #ca72e4;
  margin-top: 10px;
  margin-bottom: 10px;
}
.newInputItem {
  display: flex;
  background-color: lightblue;
  flex-direction: row;
  height: 40px;
  width: 400px;
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}
.newInputDiv {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.text {
  font-family: "Roboto";
  font-size: 22px;
  flex-grow: 1;
  margin-right: 10px;
}
.buttonsContainer {
  display: flex;
  height: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 1px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  justify-content: space-evenly;
}
.button {
  color: #622ec9;
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: 4px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px;
}
.formInputDiv {
  display: flex;
  background-color: lightblue;
  flex-direction: row;
  height: 40px;
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
}
.addButton {
  background: #6134eb;
  height: 40px;
  width: 80px;
  padding: 10px;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
}
.addInputEl {
  font-family: "Roboto";
  background: #d7f7f2;
  font-size: 16px;
  height: 40px;
  flex-grow: 1;
  border: 1px solid #6134eb;
  border-radius: 4px;
  outline: none;
  margin-right: 10px;
}
.notActive {
  color: rgb(159, 151, 151);
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: 4px;
}
